@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
    border-top: 6px solid #8c8187; }
.contenido {
    width:960px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
}
.encabezado {
    margin:0;
    width:100%;
    position:absolute;
    z-index:500;
}
h1.logo {width:216px;
    float:left;
    margin-top:10px;
}
.logo a img {border:0px;}
.logo a {border:0px;}

.nav-wrap {
    width:690px;
    float:right;
    margin-top:20px;
}

.group {
    padding:0;
}
/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */



/* Example One */
#example-one {
    margin: 0 -12px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    float:right;
    margin-top: 10px;
}
#example-one li { 
    display: inline-block;	
    margin: 0px 10px 0px 0px;
}
#example-one a {
    color: #333333;
    font-size: 16px;
    padding: 6px 2px 2px 2px;
    text-decoration: none;
    margin:0px;
    font-weight:500;
    font-family:Tahoma, Geneva, sans-serif;
}
#example-one a:hover { 
    //font-weight:bold;
    //font-size:15px;
    text-shadow: 0.1em 0.1em 0.2em #cfcfcf;
    color: #000000;
}
.current_page_item a:hover {color: #333333 !important;}

.current_page_item a { 
    color: #888 !important; 
}
.ie6 #example-one li, .ie7 #example-one li { 
    display: inline; 
}
.ie6 #magic-line {
    bottom: -3px;
}

.content-institucional {
    //background-image:url(../img/institucional-bg.jpg);
    background-repeat:no-repeat;
    //width:520px;
    height:610px;
    //padding-left:440px;
    margin-top:120px;
}
.content-institucional img {float:left;
    margin-top: -40px;
}
.texto-institucional {float:left;
    padding:0px 10px;
    width:436px;
    margin-left:20px;
}
.texto-institucional a {
    float: right;
    margin-top: 0px;}

.texto-institucional img {margin-top: 0px;}

.content-institucional h2 {
    font-size:24px;
    color:#594f53;
    text-transform:uppercase;
    width:466px;
    padding-bottom:4px;
    padding-top:200px;
    margin-bottom:18px;
    border-bottom:1px solid #594f53;
    text-shadow: 0.1em 0.1em 0.2em #b6a69e;


}

.content-institucional p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#786870;
    margin:10px 0px;
    padding:0px;
    width:460px;
    font-style:italic;

}

.content-institucional .bold {font-weight: bold;}
.linea-footer {
    //border-bottom:1px solid #dbcdc5;
    width:960px;
    margin-top:15px;
    margin-right: auto;
    margin-left: auto;
    //-moz-box-shadow:4px 2px 6px #dbcdc5;
    //-webkit-box-shadow: 4px 2px 6px #dbcdc5;
    //box-shadow: 4px 2px 6px #dbcdc5;

}
.footer {width:960px;
    margin-right:auto;
    margin-left:auto;
    margin-top:2px;
    margin-bottom: 20px;
    color: #525252;
    font-size:13px;	
    font-weight:400;
}

.footer h6 {
    float:left;
    font-size:13px;
    font-weight:400;
}
.footer ul {float:right;
    text-decoration:none;
    list-style:none;
}
.footer ul li {float:left;
    margin-right:4px;
}
.footer ul li a {color:#525252;
    text-decoration:none;
}
.footer ul li a:hover {color:#4b4444;
    text-decoration:none;
    font-style:italic;
}



/*Colecciones 2016*/
.quince , .cortejo , .noche , .novias {width:228px;
    float:left;
    margin:2px;
    margin-top: 120px;
}
a.quince ,a.cortejo ,a.noche ,a.novias {
    text-decoration: none;
}
.quince a:hover .quince-1b {background-image: url("../img/camp_2016/15/01_01.jpg");
    width: 228px;
    height: 293px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50% 0%;
    cursor: pointer;
}

.quince a:hover .quince-2b {background-image: url("../img/camp_2016/15/02_01.jpg");
    width: 228px;
    height: 192px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50% 0%;
    cursor: pointer;
}
.quince a:hover .quince-3b {background-image: url("../img/camp_2016/15/03_01.jpg");
    width: 228px;
    height: 280px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 30% 10%;
    background-size: 130%;
    background-repeat: none;
    cursor: pointer;

}

.cortejo a:hover .cortejo-1b {background-image: url("../img/camp_2016/CORTEJO/01_01.jpg");
    width: 228px;
    height: 335px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 40% 10%;
    cursor: pointer;
}

.cortejo a:hover .cortejo-2b {background-image: url("../img/camp_2016/CORTEJO/01_02.jpg");
    width: 228px;
    height: 243px;
    position: absolute;
    z-index: 100; 
    object-fit:fill;
    background-position: 50% 20%;
    cursor: pointer;
}
.cortejo a:hover .cortejo-3 {background-image: url("../img/camp_2016/CORTEJO/01_03.jpg");
    width: 228px;
    height: 187px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 40% 10%;
    cursor: pointer;
}
.noche a:hover .noche-1b {background-image: url("../img/camp_2016/NOCHE/01_01.jpg");
    width: 228px;
    height: 216px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50% 50%;
    cursor: pointer;
}

.noche a:hover .noche-2b {background-image: url("../img/camp_2016/NOCHE/02_01.jpg");
    width: 228px;
    height: 280px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50% 0%;
    cursor: pointer;
}
.noche a:hover .noche-3b {background-image: url("../img/camp_2016/NOCHE/03_01.jpg");
    width: 228px;
    height: 269px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50% 0%;
    cursor: pointer;
}
.novias a:hover .novias-1b {background-image: url("../img/camp_2016/NOVIAS/01_01.jpg");
    width: 228px;
    height: 294px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 0% 50%;
    background-size: 200%;
    background-repeat: none;
    cursor: pointer;
}

.novias a:hover .novias-2b {background-image: url("../img/camp_2016/NOVIAS/02_01.jpg");
    width: 228px;
    height: 221px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 50%  0%;
    background-size: 120%;
    background-repeat: none;
    cursor: pointer;
}
.novias a:hover .novias-3b {background-image: url("../img/camp_2016/NOVIAS/03_01.jpg");
    width: 228px;
    height: 250px;
    position: absolute;
    z-index: 100;
    object-fit:fill;
    background-position: 40%  0%;
    background-size: 130%;
    background-repeat: none;
    cursor: pointer;
}
/*Colecciones 2015*/
.quince a:hover .quince-1 {background-image: url("../img/quince-1-hover.jpg");
    width: 228px;
    height: 293px;
    position: absolute;
    z-index: 100; }

.quince a:hover .quince-2 {background-image: url("../img/quince-2-hover.jpg");
    width: 228px;
    height: 192px;
    position: absolute;
    z-index: 100; }
.quince a:hover .quince-3 {background-image: url("../img/quince-3-hover.jpg");
    width: 228px;
    height: 280px;
    position: absolute;
    z-index: 100; }

.cortejo a:hover .cortejo-1 {background-image: url("../img/cortejo-1-hover.jpg");
    width: 228px;
    height: 335px;
    position: absolute;
    z-index: 100; }

.cortejo a:hover .cortejo-2 {background-image: url("../img/cortejo-2-hover.jpg");
    width: 228px;
    height: 243px;
    position: absolute;
    z-index: 100; }
.cortejo a:hover .cortejo-3 {background-image: url("../img/cortejo-3-hover.jpg");
    width: 228px;
    height: 187px;
    position: absolute;
    z-index: 100; }
.noche a:hover .noche-1 {background-image: url("../img/noche-1-hover.jpg");
    width: 228px;
    height: 216px;
    position: absolute;
    z-index: 100; }

.noche a:hover .noche-2 {background-image: url("../img/noche-2-hover.jpg");
    width: 228px;
    height: 280px;
    position: absolute;
    z-index: 100; }
.noche a:hover .noche-3 {background-image: url("../img/noche-3-hover.jpg");
    width: 228px;
    height: 269px;
    position: absolute;
    z-index: 100; }
.novias a:hover .novias-1 {background-image: url("../img/novias-1-hover.jpg");
    width: 228px;
    height: 294px;
    position: absolute;
    z-index: 100; }

.novias a:hover .novias-2 {background-image: url("../img/novias-2-hover.jpg");
    width: 228px;
    height: 221px;
    position: absolute;
    z-index: 100; }
.novias a:hover .novias-3 {background-image: url("../img/novias-3-hover.jpg");
    width: 228px;
    height: 250px;
    position: absolute;
    z-index: 100; }


/*Colecciones particular*/
.informacion-vestidos {margin-top:140px;
    width: 400px;
    margin-right:50px;
    float: left;}
.informacion-vestidos h1 {font-family: 'Andika', sans-serif;
    font-size: 42px;
    color:#505050;
    letter-spacing: -1px;}
.informacion-vestidos h2 {font-family: 'arial', sans-serif;
    font-size: 18px;
    color:#505050;
    margin: 0px;
    padding: 0px;
    font-weight: 400;}
.informacion-vestidos ul {list-style: none;
    margin-top:0px;}
.informacion-vestidos ul li {float: left;
}
.informacion-vestidos .mas-colecciones ul li a {color:#505050;
    font-family: arial;
    font-size: 16px;
    text-decoration: none;
}
.informacion-vestidos .mas-colecciones ul li a:hover {color:#696969;
    text-decoration: none;}
.informacion-vestidos ul li a:hover img {border: 2px solid #505050;
    width: 92px;
    height: 92px;
    margin: 1px;}
.informacion-vestidos ul li a img {width:94px;
    height:94px;
    margin: 2px;}

.fotos-vestidos {float: left;
    width: 510px;
    margin-top:110px;}
.fotos-vestidos img {float: left;}
.fotos-vestidos .mas-fotos {float: left;}
.fotos-vestidos .mas-fotos img {margin:0 0 6px 5px;}

.mas-colecciones {border-top: 1px dotted #505050;
    margin-top: 10px;}
.mas-colecciones h3 {font-family: 'Andika', sans-serif;
    font-size: 26px;
    letter-spacing: -1px; }


/* Datos utiles */
.indice {margin-top:130px;
    margin-right: 20px;
    float: left;
    width: 210px;}
.indice h1 {color:#544a4f;
    font-family: arial;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    line-height: 16px;}
.indice ul {list-style: none;}
.indice ul li {color: #544a4f;
    font-size: 14px;
    font-family: arial;}
.pasos {float: left;
    margin-top:130px;}
.paso {width: 238px;
    float: left;
    margin: 2px;
}

.info {background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 6px;
    height: 320px;}
.info h2 {font-family: arial;
    font-size: 20px;
    color: #544a4f;
    margin-bottom:-8px;
    padding:0px; 
    font-weight: 400;
    line-height: 18px;
    font-style: italic;

}

.info img {margin: 0;
    padding: 0px;}
.info p {margin-top: 6px;
    font-size: 12px;
    padding: 0;
}

/* Contacto */

.formulario {margin-top: 120px;
    width: 350px;
    float: left;}
.formulario h1 {font-family: 'Andika', sans-serif;
    margin:0px;
    padding: 0px;
    line-height: 32px;
    font-size: 32px;
    color: #81737a;}
.formulario img {margin-bottom: 10px;
    padding: 0px;}

.formulario table {text-transform: uppercase;
    color: #333333;
    font-size: 10px;}
.formulario input.input {background-color: #efefef;
    border: 1px solid #e4e1e2;
    width: 300px;
    height: 26px;
    margin-bottom: 10px;
    margin-top:0px;}
.formulario textarea.input {background-color: #efefef;
    border: 1px solid #e4e1e2;
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    margin-top:0px;}

img.modelos-cavaliere {float: left;
    border:8px #81737a solid;
    margin-top: 140px;
    margin-left: 100px;}

input.enviar {
    width: 86px;
    height: 86px; 
    border: 0px;
    background-color: none;
    position: absolute;;
    z-index: 200;
    margin-top: -80px;
    margin-left: 250px;}
.formulario p a {color:#81737a;}
.formulario p a:hover {color:#413b3e;}
.contacto-redes {font-size: 14px;
    color: #64595f;
    margin: 0px 0 10px 0;
    line-height: 18px;
    width: 286px;
    border: 1px solid #e4e1e2;
    padding: 8px;}
.contacto-redes a {text-decoration: none;
    font-style: italic;
    color: #533b48;}



/*Menu Desplegable*/
.group li {
    position: relative;
}
.group li.parent:hover{
    border:1px none solid;
    margin:-1px;
    background:none;
}
.group li li a{
    width:100px;/*el ancho de los links del submenu, debe ser fijo, esto servir치 para crear la animaci칩n mas adelante */
    display:block;
    margin: 0 auto;
}

.group li:hover ul {
    display: block;
}
/*animaci칩n nav*/
.group li ul {
    width: 50; /*Cambiamos la linea */
    margin:50;
    /*display:none; Lo Eliminamos */
    background:none;
    border:1px none solid;
    position: absolute;
    left: 0%;
    top: 20px;

    overflow:hidden; /* Para evitar Que se salgan los links */
    z-index:1;/*El Submenu tiene que ir atras, para evitar que los 0 pixeles causen problema al :hover*/ 

    opacity: 0; 
    filter: alpha(opacity=0); /* Internet Explorer*/
    -webkit-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s;/* Chrome, Safari*/
    transition: opacity 0.2s ease-in  0.3s, width 0.4s ease-in 0.3s;/* Navegadores CSS3 */
    -moz-transition: opacity 0.2s ease-in  0.3s, width 0.4s ease-in 0.3s; /* Firefox 4 */
    -o-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s; /*Opera */
}
.group li:hover ul {
    /*display:block; Lo Eliminamos */

    width: 100px; /*La animaci칩n de 0 a 250px*/

    opacity: 1;
    filter: alpha(opacity=100);/* Internet Explorer*/
    -webkit-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Chrome, Safari*/
    transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Navegadores CSS3 */
    -moz-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Firefox 4 */
    -o-transition: oopacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Opera */
}
h2.titulos {
    position: absolute;
    text-align: right;
    text-decoration: none!important;
    font-weight: 100;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.62);
    padding: 5px 10px   ;
    top: 70%;
}
/*Boton Volver Colecciones*/
.btn_volver {
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    
    font-size: 14px;
    
    text-decoration: none;
    text-align: center;

}
.btn_volver a {color: #614b4b !important;
border: 1px solid #614b4b;
padding: 10px 20px 10px 20px;
float: right;
margin: 2% 0;}

.btn_volver a:hover {
    background: #8c6c6c;
    background-image: -webkit-linear-gradient(top, #8c6c6c, #a18179);
    background-image: -moz-linear-gradient(top, #8c6c6c, #a18179);
    background-image: -ms-linear-gradient(top, #8c6c6c, #a18179);
    background-image: -o-linear-gradient(top, #8c6c6c, #a18179);
    background-image: linear-gradient(to bottom, #8c6c6c, #a18179);
    text-decoration: none;
    color: #ffffff !important;
}
a:-webkit-any-link {
    color: white;
    text-decoration: none;
    cursor: auto;
}